Node-Red Flow
[{"id":"60fa1ac9.7deab4","type":"tab","label":"Projeto","disabled":false,"info":""},{"id":"bd99ad10.8da92","type":"function","z":"60fa1ac9.7deab4","name":"Processing Temperature","func":"// Send information to get temperature\nmsg.payload = \"ok\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":852.0005722045898,"y":510.0001745223999,"wires":[["9b494793.e1aca8","da9548ea.9a5248"]]},{"id":"b9fc2cc7.09ca7","type":"debug","z":"60fa1ac9.7deab4","name":"","active":true,"console":"false","complete":"true","x":628.0003051757812,"y":216.00010681152344,"wires":[]},{"id":"9b494793.e1aca8","type":"mqtt out","z":"60fa1ac9.7deab4","name":"","topic":"tempotavio_out","qos":"2","retain":"","broker":"f6359718.dbeb88","x":1287.0005264282227,"y":503.00017166137695,"wires":[]},{"id":"a947fe58.38f6","type":"mqtt out","z":"60fa1ac9.7deab4","name":"","topic":"voiceotavio_out","qos":"","retain":"","broker":"f6359718.dbeb88","x":1763.001708984375,"y":867.00048828125,"wires":[]},{"id":"c91ee59b.109648","type":"mqtt in","z":"60fa1ac9.7deab4","name":"","topic":"tempotavio_in","qos":"2","broker":"f6359718.dbeb88","x":1449.0005264282227,"y":501.00017166137695,"wires":[["863b335a.25dd2","fd462d4.f9f66d","eaf75367.8d96c","4094a45b.6c0fec"]]},{"id":"863b335a.25dd2","type":"function","z":"60fa1ac9.7deab4","name":"Format temperature text","func":"temp = msg.payload;\n\nif(temp >= 16 || temp <= 31){\nmsg.payload = \"The temperature inside is\" + temp + \"celsius.\";\n}\n\nif(temp > 31){\nmsg.payload = \"The temperature inside is\" + temp + \"celsius. It's so hot.\";\n}\n\nif(temp < 16){\nmsg.payload = \"The temperature inside is\" + temp + \"celsius. It's so cold.\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1667.0005264282227,"y":502.00017166137695,"wires":[["2b121693.9a249a"]]},{"id":"3ea75589.a5893a","type":"mqtt in","z":"60fa1ac9.7deab4","name":"","topic":"voiceotavio_in","qos":"2","broker":"f6359718.dbeb88","x":96.0000228881836,"y":255.00001525878906,"wires":[["1b3ed3c9.4a9e6c"]]},{"id":"da9548ea.9a5248","type":"debug","z":"60fa1ac9.7deab4","name":"","active":true,"console":"false","complete":"true","x":1024.0005569458008,"y":468.00017261505127,"wires":[]},{"id":"82d3b63.31d7948","type":"function","z":"60fa1ac9.7deab4","name":"Processing Light","func":"place = msg.payload.context.appl_place;\ndining = msg.payload.context.dining_light;\nliving = msg.payload.context.living_light;\nkitchen = msg.payload.context.kitchen_light;\nall = msg.payload.context.all_light;\n\nmsg.topic = \"otavio_light\";\n\n    if(place == \"kitchen\"){\n        \n        if(kitchen == \"on\"){\n        msg.payload = \"k\";\n        }\n        else{\n        msg.payload = \"f\";  \n        }\n    }\n\n\n    if(place == \"dining\"){\n        \n        if(dining == \"on\"){\n        msg.payload = \"d\";\n        }\n        else{\n        msg.payload = \"h\";  \n        }\n    }\n    \n    if(place == \"living\"){\n        \n        if(living == \"on\"){\n        msg.payload = \"l\";\n        }\n        else{\n        msg.payload = \"g\";  \n        }\n    }\n    \n    if(place == \"all\"){\n        \n        if(all == \"on\"){\n        msg.payload = \"a\";\n        }\n        else{\n        msg.payload = \"z\";  \n        }\n    }\n    \n    return msg;\n","outputs":1,"noerr":0,"x":1014.000560760498,"y":888.0001564025879,"wires":[["1b3de292.633fbd","b0c0d476.7ddec8","106d6361.1baa3d"]]},{"id":"1b3de292.633fbd","type":"mqtt out","z":"60fa1ac9.7deab4","name":"MQTT Action","topic":"","qos":"0","retain":"","broker":"f6359718.dbeb88","x":1263.000560760498,"y":890.0001564025879,"wires":[]},{"id":"b0c0d476.7ddec8","type":"debug","z":"60fa1ac9.7deab4","name":"","active":true,"console":"false","complete":"true","x":1242.000560760498,"y":848.0001411437988,"wires":[]},{"id":"6a04facb.2990b4","type":"function","z":"60fa1ac9.7deab4","name":"Processing Action Voice","func":"\nmsg.payload = msg.payload.output.text[0];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":853.000732421875,"y":693.0003681182861,"wires":[["2a87838a.f464cc"]]},{"id":"1b3ed3c9.4a9e6c","type":"function","z":"60fa1ac9.7deab4","name":"Processing Voice","func":"temp = msg.payload;\ntemp = temp.replace(\"home \",\"\");\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":280.0000305175781,"y":255.0000057220459,"wires":[["d1e51932.1fd0a8","e6310af6.010468"]]},{"id":"d1e51932.1fd0a8","type":"watson-conversation-v1","z":"60fa1ac9.7deab4","name":"Conversation","workspaceid":"add2b22f-ecb4-4e9c-8bb5-f0188b70fcf6","multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":477.00030517578125,"y":255.0001277923584,"wires":[["b9fc2cc7.09ca7","31b8a2e8.0eb19e"]]},{"id":"b5920b2b.6e7208","type":"function","z":"60fa1ac9.7deab4","name":"Processing Weather","func":"// Send information to get temperature\n\n    control = msg.payload.context.appl_weather\n    if (control == \"on\"){\n    return msg;\n    }\n\n","outputs":1,"noerr":0,"x":842.0005798339844,"y":638.0002298355103,"wires":[["7c548e0f.7613"]]},{"id":"80aca3dc.c853a","type":"weather_insights","z":"60fa1ac9.7deab4","name":"","host":"","service":"/observations.json","geocode":"-21.018846,-49.502930","units":"m","language":"en-US","x":1257.0004920959473,"y":618.0001735687256,"wires":[["30993209.442e1e","7f90f1e7.5e90e"]]},{"id":"7c548e0f.7613","type":"switch","z":"60fa1ac9.7deab4","name":"Switch Time","property":"payload.context.time_weather","propertyType":"msg","rules":[{"t":"eq","v":"now","vt":"str"},{"t":"btwn","v":"0","vt":"num","v2":"10","v2t":"num"},{"t":"gt","v":"10","vt":"num"}],"checkall":"true","outputs":3,"x":1076.0004920959473,"y":636.0001735687256,"wires":[["80aca3dc.c853a"],["d0099e75.174fd"],["b6220ffa.ed3bb"]]},{"id":"d0099e75.174fd","type":"weather_insights","z":"60fa1ac9.7deab4","name":"","host":"","service":"/forecast/daily/10day.json","geocode":"-21.018846,-49.502930","units":"m","language":"en-US","x":1289.0004920959473,"y":662.0001735687256,"wires":[["509d7366.3f6f2c","7f90f1e7.5e90e"]]},{"id":"30993209.442e1e","type":"function","z":"60fa1ac9.7deab4","name":"Processing Weather","func":"temp = msg.observation.temp;\nfells = msg.observation.feels_like;\nrh = msg.observation.rh;\nmsg.payload = \"The temperature is \" + temp + \" celsius, feels like \" + fells + \" And the relative humidity is \" + rh + \" percent\";\nreturn msg;","outputs":1,"noerr":0,"x":1509.0004920959473,"y":618.0001735687256,"wires":[["7e7fedbb.a95ea4"]]},{"id":"509d7366.3f6f2c","type":"function","z":"60fa1ac9.7deab4","name":"Processing Weather","func":"x = msg.payload.context.time_weather;\nmsg.payload = msg.forecasts[x].narrative;\ntemp = msg.payload;\ntemp = temp.replace(\"C\",\" celsius\");\ntemp = temp.replace(\"C.\",\" celsius\");\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":1557.0004920959473,"y":661.0001735687256,"wires":[["7e7fedbb.a95ea4"]]},{"id":"b6220ffa.ed3bb","type":"function","z":"60fa1ac9.7deab4","name":"Processing Weather","func":"\nmsg.payload = \"Sorry, but I only have forecasts for the next 10 days\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1305.0005798339844,"y":703.0001783370972,"wires":[["7e7fedbb.a95ea4"]]},{"id":"1de5b95e.9ac767","type":"function","z":"60fa1ac9.7deab4","name":"Processing Default Voice","func":"\nmsg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":848.000732421875,"y":572.0001735687256,"wires":[["618d3fbd.035d1"]]},{"id":"2db83096.b2aa7","type":"switch","z":"60fa1ac9.7deab4","name":"Switch Function","property":"payload.context.function","propertyType":"msg","rules":[{"t":"eq","v":"temp","vt":"str"},{"t":"eq","v":"weather","vt":"str"},{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"lock","vt":"str"},{"t":"eq","v":"turn","vt":"str"},{"t":"eq","v":"status","vt":"str"},{"t":"eq","v":"digital","vt":"str"}],"checkall":"true","outputs":7,"x":240.00018310546875,"y":615,"wires":[["f06b986e.5c08f8"],["d306851b.791db8"],["8c96c7b0.c2e2f8"],["7c43b336.143ecc"],["8191d940.2bc908"],["98442b69.1f1218"],["666b3add.081ff4"]]},{"id":"c3683ada.ba1588","type":"switch","z":"60fa1ac9.7deab4","name":"Switch Action","property":"payload.context.appliance","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"},{"t":"eq","v":"alarm","vt":"str"}],"checkall":"true","outputs":2,"x":813.0006370544434,"y":919.0001735687256,"wires":[["82d3b63.31d7948"],["bdea20d8.4d1a8"]]},{"id":"bdea20d8.4d1a8","type":"function","z":"60fa1ac9.7deab4","name":"Processing Alarm","func":"control = msg.payload.context.appl_alarm;\n\nmsg.topic = \"otavio_alarm\";\n\nif(control == \"on\"){\n    msg.payload = \"1\";\n    }\nelse{\n    msg.payload = \"0\";  \n}\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":1013.000560760498,"y":942.0001564025879,"wires":[["b0c0d476.7ddec8","1b3de292.633fbd","106d6361.1baa3d"]]},{"id":"d09ca546.6f20e8","type":"function","z":"60fa1ac9.7deab4","name":"Processing Lock","func":"// Send information to get temperature\n\ncontrol = msg.payload.context.appl_lock\n\nmsg.topic = \"otavio_lock\"\n    \nif(control == \"on\"){\n    msg.payload = \"1\";\n    }\n    else{\n    msg.payload = \"0\";  \n    }\n    \nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":851.000732421875,"y":839.000171661377,"wires":[["1b3de292.633fbd","b0c0d476.7ddec8","106d6361.1baa3d"]]},{"id":"7f90f1e7.5e90e","type":"debug","z":"60fa1ac9.7deab4","name":"","active":false,"console":"false","complete":"true","x":1456.0008583068848,"y":576.0001487731934,"wires":[]},{"id":"89bbe844.abb398","type":"mqtt in","z":"60fa1ac9.7deab4","name":"","topic":"otavio_instatus","qos":"2","broker":"f6359718.dbeb88","x":1220.000602722168,"y":787.0002670288086,"wires":[["b3d5a1a5.2de99","c74ff28d.1a3c"]]},{"id":"6a71691e.7c95d8","type":"function","z":"60fa1ac9.7deab4","name":"Processing Status","func":"place = msg.payload.context.appl_place;\nappl = msg.payload.context.appliance;\n\nif(appl == \"light\"){\n    if(place == \"kitchen\"){\n        msg.payload = \"k\";\n    }\n    if(place == \"dining\"){\n        msg.payload = \"d\";\n    }\n    if(place == \"living\"){\n        msg.payload = \"l\";\n    }\n}\n\nif(appl == \"door\"){\n    msg.payload = \"c\";\n}\n\nif(appl == \"alarm\"){\n    msg.payload = \"m\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":822.0006561279297,"y":760.0001535415649,"wires":[["7ff266b7.9213f8","76a0168.39acbe8"]]},{"id":"7ff266b7.9213f8","type":"mqtt out","z":"60fa1ac9.7deab4","name":"","topic":"otavio_outstatus","qos":"","retain":"","broker":"f6359718.dbeb88","x":1040.000732421875,"y":786.000111579895,"wires":[]},{"id":"76a0168.39acbe8","type":"debug","z":"60fa1ac9.7deab4","name":"","active":false,"console":"false","complete":"true","x":1008.0005569458008,"y":750.0000953674316,"wires":[]},{"id":"b3d5a1a5.2de99","type":"function","z":"60fa1ac9.7deab4","name":"Format status text","func":"control = msg.payload;\n\nif(control == \"k\"){\n    place = \"kitchen\";\n    thing = \"light\";\n    status = \"on\";\n}\n\nif(control == \"f\"){\n    place = \"kitchen\";\n    thing = \"light\";\n    status = \"off\";\n}\n\nif(control == \"d\"){\n    place = \"dining room\";\n    thing = \"light\";\n    status = \"on\";\n}\n\nif(control == \"h\"){\n    place = \"dining room\";\n    thing = \"light\";\n    status = \"off\";\n}\n\nif(control == \"l\"){\n    place = \"living room\";\n    thing = \"light\";\n    status = \"on\";\n}\n\nif(control == \"g\"){\n    place = \"living room\";\n    thing = \"light\";\n    status = \"off\";\n}\n\nif(control == \"c\"){\n    place = \"\";\n    thing = \"door\";\n    status = \"locked\";\n}\n\nif(control == \"o\"){\n    place = \"\";\n    thing = \"door\";\n    status = \"unlocked\";\n}\n\nif(control == \"m\"){\n    place = \"\";\n    thing = \"alarm\";\n    status = \"on\";\n}\n\nif(control == \"r\"){\n    place = \"\";\n    thing = \"alarm\";\n    status = \"off\";\n}\n\nmsg.payload = \"The \" + place + \" \" + thing + \" status is \" + status; \n \nreturn msg;","outputs":1,"noerr":0,"x":1444.0006065368652,"y":793.0002660751343,"wires":[["cd26c84.e6d2938"]]},{"id":"c74ff28d.1a3c","type":"debug","z":"60fa1ac9.7deab4","name":"","active":false,"console":"false","complete":"true","x":1435.0007286071777,"y":751.0002336502075,"wires":[]},{"id":"bbc11a6.e076de8","type":"function","z":"60fa1ac9.7deab4","name":"Cloud msg","func":"kitchen = msg.payload.context.kitchen_light;\n\nkitchen = kitchen.replace(\"on\",\"1\");\nkitchen = kitchen.replace(\"off\",\"0\");\n\nvar dt = new Date();\nvar hours = dt.getHours() - 3;\nvar month = dt.getMonth() + 1;\nvar dia = dt.getDate();\nif(hours<0)\n{\n    hours = hours + 24;\n    dia = dia - 1;\n}\n\nmsg.payload = \n{\n    'Application': 'Kitchen light',\n    'Status': kitchen,\n    'Hora':\thours + \":\" + dt.getMinutes() + \":\" + dt.getSeconds(),\n    'Data':\t\tdia + \"/\" + month + \"/\" + dt.getFullYear()\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":875.0001831054688,"y":80.00003051757812,"wires":[["1307eaa0.11e7c5","bd70fc26.40b6b","d79f1ea3.72df4"]]},{"id":"1307eaa0.11e7c5","type":"debug","z":"60fa1ac9.7deab4","name":"","active":false,"console":"false","complete":"true","x":1017.0001831054688,"y":39.000030517578125,"wires":[]},{"id":"bd70fc26.40b6b","type":"cloudant out","z":"60fa1ac9.7deab4","name":"","cloudant":"","database":"kitchen_light","service":"otavio1-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1038.0001831054688,"y":79.00003051757812,"wires":[]},{"id":"8d6ff800.aa0af8","type":"function","z":"60fa1ac9.7deab4","name":"Cloud msg","func":"living = msg.payload.context.living_light;\n\nliving = living.replace(\"on\",\"1\");\nliving = living.replace(\"off\",\"0\");\n\nvar dt = new Date();\nvar hours = dt.getHours() - 3;\nvar month = dt.getMonth() + 1;\nvar dia = dt.getDate();\nif(hours<0)\n{\n    hours = hours + 24;\n    dia = dia - 1;\n}\n\nmsg.payload = \n{\n    'Application': 'Living light',\n    'Status': living,\n    'Hora':\thours + \":\" + dt.getMinutes() + \":\" + dt.getSeconds(),\n    'Data':\t\tdia + \"/\" + month + \"/\" + dt.getFullYear()\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":877.0001831054688,"y":167.00003051757812,"wires":[["13e527cb.ee9268","b1e34726.ca5568","b9591181.c9a22"]]},{"id":"13e527cb.ee9268","type":"debug","z":"60fa1ac9.7deab4","name":"","active":false,"console":"false","complete":"false","x":1039.0001831054688,"y":126.00003051757812,"wires":[]},{"id":"b1e34726.ca5568","type":"cloudant out","z":"60fa1ac9.7deab4","name":"","cloudant":"","database":"living_light","service":"otavio1-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1040.0001831054688,"y":166.00003051757812,"wires":[]},{"id":"73fa8f36.501ae","type":"function","z":"60fa1ac9.7deab4","name":"Cloud msg","func":"dining = msg.payload.context.dining_light;\n\ndining = dining.replace(\"on\",\"1\");\ndining = dining.replace(\"off\",\"0\");\n\nvar dt = new Date();\nvar hours = dt.getHours() - 3;\nvar month = dt.getMonth() + 1;\nvar dia = dt.getDate();\nif(hours<0)\n{\n    hours = hours + 24;\n    dia = dia - 1;\n}\n\nmsg.payload = \n{\n    'Application': 'Dining light',\n    'Status': dining,\n    'Hora':\thours + \":\" + dt.getMinutes() + \":\" + dt.getSeconds(),\n    'Data':\t\tdia + \"/\" + month + \"/\" + dt.getFullYear()\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":878.0001831054688,"y":252.00003051757812,"wires":[["2516b71d.103c18","c2f1c2bd.6e988","be3a5018.994b"]]},{"id":"2516b71d.103c18","type":"debug","z":"60fa1ac9.7deab4","name":"","active":false,"console":"false","complete":"false","x":1040.0001831054688,"y":211.00003051757812,"wires":[]},{"id":"c2f1c2bd.6e988","type":"cloudant out","z":"60fa1ac9.7deab4","name":"","cloudant":"","database":"dining_light","service":"otavio1-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1041.0001831054688,"y":251.00003051757812,"wires":[]},{"id":"477b9859.2b0048","type":"function","z":"60fa1ac9.7deab4","name":"Cloud msg","func":"lock = msg.payload.context.appl_lock;\n\nlock = lock.replace(\"on\",\"1\");\nlock = lock.replace(\"off\",\"0\");\n\nvar dt = new Date();\nvar hours = dt.getHours() - 3;\nvar month = dt.getMonth() + 1;\nvar dia = dt.getDate();\nif(hours<0)\n{\n    hours = hours + 24;\n    dia = dia - 1;\n}\n\nmsg.payload = \n{\n    'Application': 'Door lock',\n    'Status': lock,\n    'Hora':\thours + \":\" + dt.getMinutes() + \":\" + dt.getSeconds(),\n    'Data':\t\tdia + \"/\" + month + \"/\" + dt.getFullYear()\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":884.0001831054688,"y":337.0000305175781,"wires":[["b5a37f5d.a2477","9e1a7a5e.3ed7e8","68bc1433.be2c9c"]]},{"id":"b5a37f5d.a2477","type":"debug","z":"60fa1ac9.7deab4","name":"","active":false,"console":"false","complete":"false","x":1046.0001831054688,"y":296.0000305175781,"wires":[]},{"id":"9e1a7a5e.3ed7e8","type":"cloudant out","z":"60fa1ac9.7deab4","name":"","cloudant":"","database":"door_lock","service":"otavio1-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1037.0001831054688,"y":336.0000305175781,"wires":[]},{"id":"445f3eb3.430b1","type":"function","z":"60fa1ac9.7deab4","name":"Cloud msg","func":"alarm = msg.payload.context.appl_alarm;\n\nalarm = alarm.replace(\"on\",\"1\");\nalarm = alarm.replace(\"off\",\"0\");\n\nvar dt = new Date();\nvar hours = dt.getHours() - 3;\nvar month = dt.getMonth() + 1;\nvar dia = dt.getDate();\nif(hours<0)\n{\n    hours = hours + 24;\n    dia = dia - 1;\n}\n\nmsg.payload = \n{\n    'Application': 'Alarm',\n    'Status': alarm,\n    'Hora':\thours + \":\" + dt.getMinutes() + \":\" + dt.getSeconds(),\n    'Data':\t\tdia + \"/\" + month + \"/\" + dt.getFullYear()\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":889.0001831054688,"y":414.0000305175781,"wires":[["cf9153a8.a0cdc","ea899835.ff9148","bcbad02e.c953c"]]},{"id":"cf9153a8.a0cdc","type":"debug","z":"60fa1ac9.7deab4","name":"","active":false,"console":"false","complete":"false","x":1051.0001831054688,"y":373.0000305175781,"wires":[]},{"id":"ea899835.ff9148","type":"cloudant out","z":"60fa1ac9.7deab4","name":"","cloudant":"","database":"alarm","service":"otavio1-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1032.0001831054688,"y":413.0000305175781,"wires":[]},{"id":"73c271a5.d2e8b","type":"ui_chart","z":"60fa1ac9.7deab4","name":"","group":"7d8dbb44.830ef4","order":0,"width":0,"height":0,"label":"Kitchen light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1366.0001831054688,"y":79.00003051757812,"wires":[[],[]]},{"id":"ee21ee8b.9563","type":"ui_chart","z":"60fa1ac9.7deab4","name":"","group":"7d8dbb44.830ef4","order":0,"width":0,"height":0,"label":"Living room light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1378.0001831054688,"y":160.00003051757812,"wires":[[],[]]},{"id":"2f016c59.efaed4","type":"ui_chart","z":"60fa1ac9.7deab4","name":"","group":"7d8dbb44.830ef4","order":0,"width":0,"height":0,"label":"Dining room light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1385.0001831054688,"y":244.00003051757812,"wires":[[],[]]},{"id":"7beb567c.b33868","type":"ui_chart","z":"60fa1ac9.7deab4","name":"","group":"ad95f037.782bb","order":0,"width":0,"height":0,"label":"Door lock","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1393.0001831054688,"y":323.0000305175781,"wires":[[],[]]},{"id":"592061e3.e87c8","type":"ui_chart","z":"60fa1ac9.7deab4","name":"","group":"f89a1cdc.7bcd2","order":0,"width":0,"height":0,"label":"Alarm status","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1399.0001831054688,"y":380.0000305175781,"wires":[[],[]]},{"id":"d79f1ea3.72df4","type":"function","z":"60fa1ac9.7deab4","name":"Graph msg","func":"\n\nif(msg.payload.Status == \"1\"){\n    msg.payload = \"1\";\n}\nif(msg.payload.Status == \"0\"){\n    msg.payload = \"0\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1200.0001831054688,"y":80.00003051757812,"wires":[["73c271a5.d2e8b"]]},{"id":"b9591181.c9a22","type":"function","z":"60fa1ac9.7deab4","name":"Graph msg","func":"\n\nif(msg.payload.Status == \"1\"){\n    msg.payload = \"1\";\n}\nif(msg.payload.Status == \"0\"){\n    msg.payload = \"0\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1207.0001831054688,"y":160.00003051757812,"wires":[["ee21ee8b.9563"]]},{"id":"be3a5018.994b","type":"function","z":"60fa1ac9.7deab4","name":"Graph msg","func":"\n\nif(msg.payload.Status == \"1\"){\n    msg.payload = \"1\";\n}\nif(msg.payload.Status == \"0\"){\n    msg.payload = \"0\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1204.0001831054688,"y":246.00003051757812,"wires":[["2f016c59.efaed4"]]},{"id":"68bc1433.be2c9c","type":"function","z":"60fa1ac9.7deab4","name":"Graph msg","func":"\n\nif(msg.payload.Status == \"1\"){\n    msg.payload = \"1\";\n}\nif(msg.payload.Status == \"0\"){\n    msg.payload = \"0\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1231.0001831054688,"y":322.0000305175781,"wires":[["7beb567c.b33868"]]},{"id":"bcbad02e.c953c","type":"function","z":"60fa1ac9.7deab4","name":"Graph msg","func":"\n\nif(msg.payload.Status == \"1\"){\n    msg.payload = \"1\";\n}\nif(msg.payload.Status == \"0\"){\n    msg.payload = \"0\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1234.0001831054688,"y":380.0000305175781,"wires":[["592061e3.e87c8"]]},{"id":"ca635f7f.2d686","type":"inject","z":"60fa1ac9.7deab4","name":"Clear Graph","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":1233.000244140625,"y":38.000030517578125,"wires":[["73c271a5.d2e8b","ee21ee8b.9563","2f016c59.efaed4","7beb567c.b33868","592061e3.e87c8","4094a45b.6c0fec"]]},{"id":"4491422e.facdec","type":"mqtt in","z":"60fa1ac9.7deab4","name":"","topic":"otavio_alarmin","qos":"2","broker":"f6359718.dbeb88","x":1365.0010986328125,"y":1082.0006728172302,"wires":[["18475f54.275121"]]},{"id":"18475f54.275121","type":"function","z":"60fa1ac9.7deab4","name":"Alarm notification","func":"if(msg.payload == \"1\"){\n    msg.payload = \"Alarme Disparado\"\n    msg.topic = \"Alarm Disparado\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1553.0011291503906,"y":1083.0005097389221,"wires":[["1d548c58.e9bfa4","8cf3ffa8.a1d53"]]},{"id":"1d548c58.e9bfa4","type":"debug","z":"60fa1ac9.7deab4","name":"","active":false,"console":"false","complete":"true","x":1734.001163482666,"y":1039.0006465911865,"wires":[]},{"id":"8cf3ffa8.a1d53","type":"e-mail","z":"60fa1ac9.7deab4","server":"smtp.gmail.com","port":"465","secure":true,"name":"otaviopiton@gmail.com","dname":"","x":1770.0011672973633,"y":1083.0005407333374,"wires":[]},{"id":"e1d48db6.47954","type":"function","z":"60fa1ac9.7deab4","name":"Start Context","func":"\nmsg.params = {\"context\" : {\n    \"function\": \"\",\n    \"appl_lock\": \"off\",\n    \"appliance\": \"\",\n    \"door_lock\": \"off\",\n    \"appl_alarm\": \"off\",\n    \"appl_place\": \"\",\n    \"appl_action\": \"\",\n    \"volumeonoff\": \"off\",\n    \"appl_digital\": \"off\",\n    \"living_light\": \"off\",\n    \"time_weather\": \"\",\n    \"dining_light\": \"off\",\n    \"kitchen_light\": \"off\",\n    \"default_counter\": 0\n} }; \nmsg.payload = \"hi\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":271.0000305175781,"y":318.0000057220459,"wires":[["d1e51932.1fd0a8"]]},{"id":"7c92e0c4.e1702","type":"mqtt in","z":"60fa1ac9.7deab4","name":"","topic":"otavio_digital","qos":"2","broker":"f6359718.dbeb88","x":95.0000228881836,"y":196.00001525878906,"wires":[["47a11c33.b35164","d1e51932.1fd0a8"]]},{"id":"47a11c33.b35164","type":"debug","z":"60fa1ac9.7deab4","name":"","active":false,"console":"false","complete":"payload","x":290.0000305175781,"y":171,"wires":[]},{"id":"de5cd3e5.fdd8e","type":"switch","z":"60fa1ac9.7deab4","name":"Switch Digital","property":"payload.context.appliance","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"},{"t":"eq","v":"alarm","vt":"str"},{"t":"eq","v":"door","vt":"str"}],"checkall":"true","outputs":3,"x":808.0007514953613,"y":1016.0003356933594,"wires":[["80bcef1.f07c81"],["4308b9ae.887768"],["68056b81.070514"]]},{"id":"80bcef1.f07c81","type":"function","z":"60fa1ac9.7deab4","name":"Processing Light","func":"place = msg.payload.context.appl_place;\ndining = msg.payload.context.dining_light;\nliving = msg.payload.context.living_light;\nkitchen = msg.payload.context.kitchen_light;\nall = msg.payload.context.all_light;\n\nmsg.topic = \"otavio_light\";\n\n    if(place == \"kitchen\"){\n        \n        if(kitchen == \"on\"){\n        msg.payload = \"k\";\n        }\n        else{\n        msg.payload = \"f\";  \n        }\n    }\n\n\n    if(place == \"dining\"){\n        \n        if(dining == \"on\"){\n        msg.payload = \"d\";\n        }\n        else{\n        msg.payload = \"h\";  \n        }\n    }\n    \n    if(place == \"living\"){\n        \n        if(living == \"on\"){\n        msg.payload = \"l\";\n        }\n        else{\n        msg.payload = \"g\";  \n        }\n    }\n    \n    if(place == \"all\"){\n        \n        if(all == \"on\"){\n        msg.payload = \"a\";\n        }\n        else{\n        msg.payload = \"z\";  \n        }\n    }\n    \n    return msg;\n","outputs":1,"noerr":0,"x":1003.0006866455078,"y":1001.000226020813,"wires":[["a455723b.ebb1b","3cae124.ec1a3ee","106d6361.1baa3d"]]},{"id":"4308b9ae.887768","type":"function","z":"60fa1ac9.7deab4","name":"Processing Alarm","func":"control = msg.payload.context.appl_alarm;\n\nmsg.topic = \"otavio_alarm\";\n\nif(control == \"on\"){\n    msg.payload = \"1\";\n    }\nelse{\n    msg.payload = \"0\";  \n}\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":1007.0007171630859,"y":1043.0002422332764,"wires":[["a455723b.ebb1b","3cae124.ec1a3ee","106d6361.1baa3d"]]},{"id":"68056b81.070514","type":"function","z":"60fa1ac9.7deab4","name":"Processing Lock","func":"// Send information to get temperature\n\ncontrol = msg.payload.context.appl_lock\n\nmsg.topic = \"otavio_lock\"\n    \nif(control == \"on\"){\n    msg.payload = \"1\";\n    }\n    else{\n    msg.payload = \"0\";  \n    }\n    \nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1002.0006256103516,"y":1087.0002737045288,"wires":[["a455723b.ebb1b","3cae124.ec1a3ee","106d6361.1baa3d"]]},{"id":"a455723b.ebb1b","type":"mqtt out","z":"60fa1ac9.7deab4","name":"MQTT Action","topic":"","qos":"0","retain":"","broker":"f6359718.dbeb88","x":1234.000602722168,"y":1018.0001664161682,"wires":[]},{"id":"3cae124.ec1a3ee","type":"debug","z":"60fa1ac9.7deab4","name":"","active":true,"console":"false","complete":"true","x":1193.000633239746,"y":1085.0001487731934,"wires":[]},{"id":"636e6d43.d43c34","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["31b8a2e8.0eb19e"],"x":752.5001859664917,"y":81.0000352859497,"wires":[["bbc11a6.e076de8"]]},{"id":"9f8153b4.056f2","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["31b8a2e8.0eb19e"],"x":754.5001316070557,"y":167.00003051757812,"wires":[["8d6ff800.aa0af8"]]},{"id":"a505de9.ed4372","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["31b8a2e8.0eb19e"],"x":754.5001850128174,"y":252.00004482269287,"wires":[["73fa8f36.501ae"]]},{"id":"75053619.647b08","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["31b8a2e8.0eb19e"],"x":757.5001316070557,"y":338.00007247924805,"wires":[["477b9859.2b0048"]]},{"id":"9fb9e1a8.e7a08","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["31b8a2e8.0eb19e"],"x":756.5001583099365,"y":415.0000419616699,"wires":[["445f3eb3.430b1"]]},{"id":"2ec83970.202896","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["31b8a2e8.0eb19e"],"x":115.50042152404785,"y":616.0000066757202,"wires":[["2db83096.b2aa7"]]},{"id":"31b8a2e8.0eb19e","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["2ec83970.202896","636e6d43.d43c34","75053619.647b08","9f8153b4.056f2","9fb9e1a8.e7a08","a505de9.ed4372"],"x":594.7894096374512,"y":253.24228048324585,"wires":[]},{"id":"4f14d973.a21038","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["f06b986e.5c08f8"],"x":711.5006742477417,"y":510.0002040863037,"wires":[["bd99ad10.8da92"]]},{"id":"f06b986e.5c08f8","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["4f14d973.a21038"],"x":423.5004348754883,"y":481.0000648498535,"wires":[]},{"id":"ce13de1e.e45ad","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["d306851b.791db8"],"x":711.5008573532104,"y":640.0002670288086,"wires":[["b5920b2b.6e7208"]]},{"id":"d306851b.791db8","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["ce13de1e.e45ad"],"x":422.5005569458008,"y":520.3334865570068,"wires":[]},{"id":"95400906.9b6518","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["8c96c7b0.c2e2f8"],"x":710.1675138473511,"y":572.00026512146,"wires":[["1de5b95e.9ac767"]]},{"id":"8c96c7b0.c2e2f8","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["95400906.9b6518"],"x":425.16724395751953,"y":557.3334550857544,"wires":[]},{"id":"5cd09753.9c60c8","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["7c43b336.143ecc","8191d940.2bc908"],"x":711.1674995422363,"y":694.3336954116821,"wires":[["6a04facb.2990b4"]]},{"id":"7c43b336.143ecc","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["5cd09753.9c60c8","94759101.70ef9"],"x":427.1672430038452,"y":594.6667537689209,"wires":[]},{"id":"8191d940.2bc908","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["5cd09753.9c60c8","cdb73cbd.76b44"],"x":426.16712188720703,"y":631.6669073104858,"wires":[]},{"id":"68c1e249.90981c","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["98442b69.1f1218"],"x":703.167407989502,"y":758.3336048126221,"wires":[["6a71691e.7c95d8"]]},{"id":"94759101.70ef9","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["7c43b336.143ecc"],"x":710.1675910949707,"y":838.333683013916,"wires":[["d09ca546.6f20e8"]]},{"id":"98442b69.1f1218","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["68c1e249.90981c"],"x":426.16703033447266,"y":672.666693687439,"wires":[]},{"id":"cdb73cbd.76b44","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["8191d940.2bc908"],"x":704.1676368713379,"y":917.3336219787598,"wires":[["c3683ada.ba1588"]]},{"id":"666b3add.081ff4","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["ab53e763.562168"],"x":427.16705894470215,"y":711.6668014526367,"wires":[]},{"id":"ab53e763.562168","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["666b3add.081ff4"],"x":703.1676511764526,"y":1016.3337154388428,"wires":[["de5cd3e5.fdd8e"]]},{"id":"a80c4c84.8ba92","type":"link in","z":"60fa1ac9.7deab4","name":"","links":["2a87838a.f464cc","2b121693.9a249a","2d58b759.e87858","618d3fbd.035d1","7e7fedbb.a95ea4","cd26c84.e6d2938","fb2e774e.8f5088"],"x":1628.6385536193848,"y":866.387209892273,"wires":[["34a2696a.aa4766","a947fe58.38f6"]]},{"id":"2b121693.9a249a","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["a80c4c84.8ba92"],"x":1808.6335554122925,"y":501.4181866645813,"wires":[]},{"id":"7e7fedbb.a95ea4","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["a80c4c84.8ba92"],"x":1795.634017944336,"y":650.4299068450928,"wires":[]},{"id":"618d3fbd.035d1","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["a80c4c84.8ba92"],"x":1014.1374282836914,"y":571.4259119033813,"wires":[]},{"id":"2a87838a.f464cc","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["a80c4c84.8ba92"],"x":1010.1414175033569,"y":693.4260730743408,"wires":[]},{"id":"cd26c84.e6d2938","type":"link out","z":"60fa1ac9.7deab4","name":"","links":["a80c4c84.8ba92"],"x":1581.145779132843,"y":793.4260921478271,"wires":[]},{"id":"106d6361.1baa3d","type":"function","z":"60fa1ac9.7deab4","name":"Switch application","func":"control = msg.payload;\n\n        if(control == \"k\"){\n        var msg1 = { payload:\"digital 1 kitchen light\" };\n        }\n        if(control == \"f\"){\n        var msg1 = { payload:\"digital 0 kitchen light\" };\n        }\n        \n        if(control == \"d\"){\n        var msg1 = { payload:\"digital 1 dining room light\" };\n        }\n        if(control == \"h\"){\n        var msg1 = { payload:\"digital 0 dining room light\" };\n        }\n        \n        if(control == \"l\"){\n        var msg1 = { payload:\"digital 1 living room light\" };\n        }\n        if(control == \"g\"){\n        var msg1 = { payload:\"digital 0 living room light\" };\n        }\n        \n        if(control == \"a\"){\n        var msg1 = { payload:\"digital 1 living room light\" };\n        var msg2 = { payload:\"digital 1 dining room light\" };\n        var msg3 = { payload:\"digital 1 kitchen light\" };\n        }\n        if(control == \"z\"){\n        var msg1 = { payload:\"digital 0 living room light\" };\n        var msg2 = { payload:\"digital 0 dining room light\" };\n        var msg3 = { payload:\"digital 0 kitchen light\" };\n        }\n        \n        app = msg.topic;\n        \n        if(app == \"otavio_alarm\"){\n            if(control == \"1\"){\n                var msg1 = { payload:\"digital 1 alarm\" };\n            }\n            if(control == \"0\"){\n                var msg1 = { payload:\"digital 0 alarm\" };\n            }\n        }\n        \n        if(app == \"otavio_lock\"){\n            if(control == \"1\"){\n                var msg1 = { payload:\"digital 1 door\" };\n            }\n            if(control == \"0\"){\n                var msg1 = { payload:\"digital 0 door\" };\n            }\n        }\n    \n    \n    return [ msg1, msg2, msg3 ];","outputs":"3","noerr":0,"x":1277.0005187988281,"y":956.0001602172852,"wires":[["deb6ade7.49222"],["5abb5ca5.de4104"],["97586b0d.cf1e28"]]},{"id":"deb6ade7.49222","type":"mqtt out","z":"60fa1ac9.7deab4","name":"","topic":"otavio_digital2","qos":"","retain":"","broker":"f6359718.dbeb88","x":1638.0007095336914,"y":945.0002193450928,"wires":[]},{"id":"34a2696a.aa4766","type":"debug","z":"60fa1ac9.7deab4","name":"","active":true,"console":"false","complete":"false","x":1753.0014724731445,"y":820.0004749298096,"wires":[]},{"id":"5abb5ca5.de4104","type":"delay","z":"60fa1ac9.7deab4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1463.0009765625,"y":983.0001888275146,"wires":[["deb6ade7.49222"]]},{"id":"97586b0d.cf1e28","type":"delay","z":"60fa1ac9.7deab4","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1463.0006408691406,"y":1024.000280380249,"wires":[["deb6ade7.49222"]]},{"id":"fd462d4.f9f66d","type":"ui_gauge","z":"60fa1ac9.7deab4","name":"","group":"e4f5059e.0cbb28","order":0,"width":0,"height":0,"gtype":"gage","title":"Inside Tempertature","label":"ºC","format":"{{value}}","min":"-10","max":"50","colors":["#14afeb","#ffff5e","#ff8951"],"seg1":"15","seg2":"30","x":1659.0006484985352,"y":462.00017833709717,"wires":[]},{"id":"eaf75367.8d96c","type":"function","z":"60fa1ac9.7deab4","name":"Cloud msg","func":"temp = msg.payload\n\nvar dt = new Date();\nvar hours = dt.getHours() - 3;\nvar month = dt.getMonth() + 1;\nvar dia = dt.getDate();\nif(hours<0)\n{\n    hours = hours + 24;\n    dia = dia - 1;\n}\n\nmsg.payload = \n{\n    'Application': 'Temperature',\n    'Temperatura': temp,\n    'Hora':\thours + \":\" + dt.getMinutes() + \":\" + dt.getSeconds(),\n    'Data':\t\tdia + \"/\" + month + \"/\" + dt.getFullYear()\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1628,"y":542,"wires":[["117356b2.f892f9"]]},{"id":"117356b2.f892f9","type":"cloudant out","z":"60fa1ac9.7deab4","name":"","cloudant":"","database":"temperatura","service":"otavio1-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1791,"y":541,"wires":[]},{"id":"728fda4e.ad8874","type":"inject","z":"60fa1ac9.7deab4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":112.0000228881836,"y":318.0000057220459,"wires":[["e1d48db6.47954"]]},{"id":"7819c84.09ca238","type":"inject","z":"60fa1ac9.7deab4","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":1127,"y":540,"wires":[["9b494793.e1aca8"]]},{"id":"e6310af6.010468","type":"debug","z":"60fa1ac9.7deab4","name":"","active":true,"console":"false","complete":"false","x":450,"y":213,"wires":[]},{"id":"2a030373.18989c","type":"inject","z":"60fa1ac9.7deab4","name":"","topic":"","payload":"how do you all the things","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":388,"wires":[["d1e51932.1fd0a8"]]},{"id":"4094a45b.6c0fec","type":"ui_chart","z":"60fa1ac9.7deab4","name":"Inside Temperature Chart","group":"e4f5059e.0cbb28","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"-10","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":578,"wires":[[],[]]},{"id":"f6359718.dbeb88","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7d8dbb44.830ef4","type":"ui_group","z":"","name":"Lights","tab":"74d91098.e0ddd","disp":true,"width":"6"},{"id":"ad95f037.782bb","type":"ui_group","z":"","name":"Door","tab":"74d91098.e0ddd","disp":true,"width":"6"},{"id":"f89a1cdc.7bcd2","type":"ui_group","z":"","name":"Alarm","tab":"74d91098.e0ddd","disp":true,"width":"6"},{"id":"e4f5059e.0cbb28","type":"ui_group","z":"","name":"Temperature","tab":"74d91098.e0ddd","disp":true,"width":"6"},{"id":"74d91098.e0ddd","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
